<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Discover the power of solar energy with cheap solar. We provide top-quality solar solutions tailored to your home's needs. Go green and save with our expert installations and reliable service.">
    <meta name="author" content="KBKNY">
    <title>Empower Your Home with Cheap Solar Energy</title>
    <!-- font icons -->
    <link rel="stylesheet" href="/static/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Meyawo main styles -->
    <!-- form css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/meyawo.css">
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/imgs/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/imgs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/imgs/favicon-16x16.png">
    <link rel="manifest" href="/static/imgs/site.webmanifest">
</head>

<body>
    <!-- Page Navbar -->
    <!-- <nav class="custom-navbar">
        <div class="container">
            <a class="logo" href="index.html">Cheap Solar</a>
        </div>
    </nav> -->
    <!-- End of Page Navbar -->

    <!-- page header -->
    <header>
        <!-- start div-->
        <div class="container">
            <div class="wrapper">
                <ul class="steps">
                    <li class="is-active">Step 1</li>
                    <li>Step 2</li>
                    <li>Step 3</li>
                </ul>
                <form class="form-wrapper">
                    <fieldset class="section is-active">
                        <h3>Your Details</h3>
                        <input type="text" name="name" id="name" placeholder="Your Name">
                        <input type="text" name="email" id="email" placeholder="Your Email">
                        <input type="text" name="phone" id="phone" placeholder="Your Phone Number">
                        <input type="text" name="street" id="street" placeholder="Your Street">
                        <input type="text" name="city" id="city" placeholder="Your City">
                        <input type="text" name="state"  id="state" placeholder="Your State">
                        <input type="text" name="zip" id="zip" placeholder="Your Zip Code">
                        <br>
                        <div class="button btn btn-primary">Next</div>
                    </fieldset>
                    <fieldset class="section">
                        <h3>Select the service you need</h3>
                        <div class="row cf">
                            <div class="four col">
                                <input type="radio" name="r1" id="r1" checked>
                                <label for="r1">
                                    <h4>Healthcare</h4>
                                </label>
                            </div>
                            <div class="four col">
                                <input type="radio" name="r1" id="r2"><label for="r2">
                                    <h4>Solar</h4>
                                </label>
                            </div>
                            <div class="four col">
                                <input type="radio" name="r1" id="r3"><label for="r3">
                                    <h4>Roofing</h4>
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="button btn btn-primary">Next</div>
                    </fieldset>
                    <fieldset class="section">
                        <h3>Do you have a message?</h3>
                        <input type="text" name="message" id="message" placeholder="Write a message">
                        <br>
                        <input class="submit button btn btn-primary" type="submit" value="Send">
                    </fieldset>
                    <fieldset class="section">
                        <h3>Your information has been sent!</h3>
                        <p>Please allow Us 1 to 2 hour to reach back out with a proffesional to help you!</p>
                        <br>
                        <a href="index.html">
                            <div class="button btn btn-primary">Main Page</div>
                            <!-- <button class="btn btn-primary">Main Page</button> -->
                        </a>
                    </fieldset>
                </form>
            </div>
        </div>
    </header>
    <!-- end of page header -->
    <!-- footer -->
    <!-- end of page footer -->
    <!-- Form scrips -->
    <!-- <script src="/static/js/form.js"></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <script src="/static/js/form.js"></script>
    <!-- core  -->
    <script src="/static/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/static/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="/static/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="/static/js/meyawo.js"></script>

</body>

</html>